@font-face {
	font-family: 'ecoico';
	src:url('/image/guoguan/timeline/fonts/timelineicons/ecoico.eot');
	src:url('/image/guoguan/timeline/fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('/image/guoguan/timeline/fonts/timelineicons/ecoico.woff') format('woff'),
		url('/image/guoguan/timeline/fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('/image/guoguan/timeline/fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
}

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3px;
	background: #81cdf1;
	left: 20.3%;
	margin-left: -10px;
	height: 100%;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 20%;
	padding-right: 100px;
	position: absolute;
}

/*.cbp_tmtimeline > li .cbp_tmtime:after{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3px;
	background: #81cdf1;
	left: 20.3%;
	margin-left: -10px;
	height: 5%;
	width: 50%;
}*/

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 14px;
	color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
	font-size: 20px;
	color: #3594cb;
}

/*.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #6cbfee;
}*/

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel,
.cbp_tmtimeline > li .count {
	margin: 0 0 15px 25%;

	color: #fff;
	/*padding: 1em;*/
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
}

/*.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel,
.cbp_tmtimeline > li:nth-child(odd) .count {
	background: #6cbfee;
}*/
.cbp_tmtimeline > li .cbp_tmlabel dl{
	margin: 0;
	border: 1px solid #0fa8f0;
	border-radius: 5px 5px 0 0;
}
.cbp_tmtimeline > li .cbp_tmlabel dt {
	margin-top: 0px;
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
	background: #0fa8f0;
	/*border-bottom: 1px solid rgba(255,255,255,0.4);*/
	border-radius: 5px 5px 0 0;
	font-weight: 600;
}
.cbp_tmtimeline > li .cbp_tmlabel dt>span{
	font-size: 18px;
}
.cbp_tmtimeline > li .count{
	padding: 1em 0 1em 2em;
/*	width: 700px;*/
}
.cbp_tmtimeline > li .cbp_tmlabel dd{
	margin: 0;
	padding: 20px;
	font-size: 16px;
	color: #666666;
	line-height: 30px;
	background: #fff;
}
.cbp_tmtimeline > li .cbp_tmlabel dd h2{
	margin: 0 0 0.5em 0;
	font-size: 1.1em;
}
.cbp_tmtimeline > li .count span i{
	font-style: normal;
}
.ip,.sys,.country,.number,.attack_mode,.c_data,.c_time,.attack_way{
	padding: 0 5px;
	font-weight: 600;
}
/*load more + hide*/
#timeline_btn{
	position: relative;
	top: 0;
	left: 210px;
	width: 130px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-weight: 600;
	text-align: center;
	border: 1px solid #6cbfee;
	border-radius: 20px;
	background-color: #6cbfee;
}
#timeline_btn:hover{
	background-color: #fff;
	color: #6cbfee;
}
#timeline_btn span:nth-child(2){
	display: none;
}
.show{
	display: block;
}
.hide{
	display: none;
}
/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #0fa8f0;
	border-width: 10px;
	top: 10px;
}

/*.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #6cbfee;
}*/

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background-color: #0fa8f0;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}
/*.cbp_tmtimeline>li .cbp_tmicon>img{
	transform: scale(0.13);
	position: absolute;
	top: -80px;
	left: -80px;
}*/
/*.cbp_tmtimeline>li .cbp_tmlabel dt a{
	position: absolute;
	top: -75px;
	right: -65px;
}
.cbp_tmtimeline>li .cbp_tmlabel dt img{
	transform: scale(0.2);

}*/

/*.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}*/

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 16px;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 1em;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #3594cb;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #6cbfee;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		position: relative;
		float: right;
		left: auto;
		margin: -55px 5px 0 0px;
	}
}

