/*数字液晶字体*/
@font-face {
  font-family: "DS-DIGIB";
  src: url(/font/DS-DIGIB-2.ttf);
}
.top-title {
  width: 100%;
  height: 71px;
  line-height: 71px;
  text-align: center;
  background: url("/image/cvis/bg_title.png") no-repeat;
  .title-name {
    font-size: 28px;
    font-family: "Microsoft YaHei", 微软雅黑;
    font-weight: bold;
    text-align: center;
    letter-spacing: 10px;
    // 渐变色字体
    background-image: linear-gradient(#fff, #ccc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  /deep/ .el-input__inner {
    background: none;
    * {
      color:#fff;
    }
  }
}
.left {
  width: 390px;

  .left-1 {
    // width: 369px;
    // height: 180px;
    // background: url("/image/cvis/bg_assets_count.png") no-repeat;
    // padding-left: 156px;
    // padding-top: 76px;
    .name {
      font-size: 18px;
      color: #84d8ff;
    }
    .value {
      font-family: "DS-DIGIB";
      font-size: 36px;
      font-weight: bold;
      color: #31ddff;
      margin-top: 10px;
      position: relative;
      padding: 4px;
      text-align: center;
      span {
        border: 1px solid rgba(60, 236, 229, 0.2);
        margin-right: 4px;
        width: 25px;
        padding: 6px 2px;
        display: inline-block;
      }
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 10px;
        height: 10px;
        border-top: 1px solid rgba(49, 221, 255, 0.6);
        border-left: 1px solid rgba(49, 221, 255, 0.6);
      }
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 10px;
        height: 10px;
        border-top: 1px solid rgba(49, 221, 255, 0.6);
        border-right: 1px solid rgba(49, 221, 255, 0.6);
      }
      .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        &::before {
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          width: 10px;
          height: 10px;
          border-bottom: 1px solid rgba(49, 221, 255, 0.6);
          border-left: 1px solid rgba(49, 221, 255, 0.6);
        }
        &::after {
          position: absolute;
          bottom: 0;
          right: 0;
          content: "";
          width: 10px;
          height: 10px;
          border-bottom: 1px solid rgba(49, 221, 255, 0.6);
          border-right: 1px solid rgba(49, 221, 255, 0.6);
        }
      }
    }
  }
  .left-2 {
    .left-2-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .item {
        width: 168px;
        height: 74px;
        background: url("/image/cvis/bg_zcaqts_item.png");
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        .l {
          width: 34%;
          flex-shrink: 0;
          img {
            width: 33px;
            display: block;
            margin: 19px auto;
          }
        }
        .r {
          padding-left: 8px;
          margin: 5px 0;
          .name {
            font-size: 16px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #fefefe;
            line-height: 30px;
          }
          .count {
            font-size: 30px;
            font-family: "DS-DIGIB";
            font-weight: 400;
            color: #2a7fff;
            line-height: 30px;
          }
        }
      }
    }
  }
  .left-3 {
    width: 420px;
    margin-top: 10px;
   
  }
}

.left3List {
  padding: 0 10px;
  .hd {
    display: flex;
    .td {
      font-size: 14px;
      font-weight: 400;
      color: #feffff;
      line-height: 30px;
      opacity: 0.5;
      &:nth-child(2) {
        flex: 1;
        text-align: left;
        padding-left: 20px;
      }
    }
  }
  .bd {
    .tr {
      display: flex;
      position: relative;
      margin-top: 5px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 197px;
        height: 3px;
        background: linear-gradient(
          -90deg,
          #00c6e5 0%,
          rgba(0, 198, 229, 0) 100%
        );
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 7px;
        background: #1c39b3;
        border: 1px solid #0060d9;
        opacity: 0.2;
      }

      &:first-child {
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 271px;
          height: 3px;
          background: linear-gradient(
            -90deg,
            #f19149 0%,
            rgba(241, 145, 73, 0) 100%
          );
        }
        & .td:last-child {
          color: #e78f28;
        }
      }
      .td {
        &:first-child {
          font-size: 16px;
          font-weight: 300;
          color: #c8d0d5;
          line-height: 33px;
          opacity: 0.4;
        }
        &:nth-child(2) {
          flex: 1;
          text-align: left;
          padding-left: 20px;

          font-size: 14px;
          font-weight: 400;
          color: #feffff;
          line-height: 33px;
        }
        &:last-child {
          font-size: 18px;
          font-weight: 400;
          color: #73ccf6;
          line-height: 33px;
        }
      }
    }
  }
}

.center {
  flex: 1;
  position: relative;
  .marquee {
    width: 549px;
    height: 38px;
    line-height: 38px;
    padding-left: 80px;
    margin: 10px auto;
    background: url("/image/cvis/marquee_bg.png") no-repeat;
    white-space: nowrap;

    .text {
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
    }
    .time {
      font-size: 14px;
      font-weight: 400;
      color: #f8b551;
      margin-left: 20px;
      margin-right: 60px;
    }
  }

  .map {
    .map-select {
      position: relative;
      z-index: 9;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      .item {
        width: 133px;
        height: 40px;
        margin-right: 20px;
        background: rgba(0, 35, 125, 0.5);
        border: 1px solid #34bdff;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.active {
          background: rgba(42, 127, 255, 0.5);
          border: 1px solid #34bdff;
          opacity: 0.8;
          span {
            color: #fefefe;
          }
        }
        img {
          height: 30px;
          margin-right: 10px;
        }
        span {
          font-size: 16px;
          font-weight: 400;
          color: #fefefe;
          line-height: 40px;
          opacity: 0.5;
        }
      }
    }

    .map_wrap {
      width: 100%;
      height: 600px;
      margin-top: -70px;
    }
  }
}

.bottom {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 20px;
  display: flex;

 

  .safe_trend {
    flex: 1;
    padding-top: 20px;
  }

  .right3List {
    padding: 0 10px;

    .hd {
      display: flex;
      .td {
        flex: 1;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #feffff;
        line-height: 33px;
      }
    }
    .bd {
      .tr {
        display: flex;
        position: relative;
        margin-top: 5px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 1px;
          height: 32px;
          background: #2a7fff;
        }

        .td {
          flex: 1;
          text-align: center;
          font-size: 14px;
          &:first-child {
            font-size: 14px;
            font-weight: 400;
            color: #feffff;
            line-height: 33px;
            opacity: 0.6;
          }
          &:nth-child(2) {
            font-weight: 400;
            color: #ffffff;
            line-height: 33px;
          }
          &:nth-child(3) {
            font-weight: 400;
            color: #f05045;
            line-height: 33px;
          }
          &:nth-child(4) {
            font-weight: 400;
            color: #31ddff;
            line-height: 33px;
          }
        }
      }
    }
  }
}

.right {
  width: 450px;
  position: relative;
}
.part {
  .part-title {
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: 600;
    font-style: italic;
    color: #ffffff;
    line-height: 33px;
    position: relative;
    margin-bottom: 30px;
    .underline {
      display: block;
      position: absolute;
      left: -6px;
      top: 10px;
    }
  }
}
.part-l {
  padding-left: 30px;
}
